quick-test/runnable
quick-test/quick-test.log
quick-test/testfile.txt
build/git.r
system/tests/source/units/auto-tests
system/hello-red.reds
system/libRedRT-extras.r
system/rs-preprocess.reds
tests/tmp$
tests/testfile.txt
crush.dll
libRedRT-extras.r
tmp$
tests/source/units/auto-tests
*.exe
*.bak
*.old
*.backup
hello
red
red-linux
merge-runtime
rs-runtime.red
console
debug1
direct2
raw2
quit42
raw_syscall
test_exit
tcp
rebol-core/
reb-view
libRedRT-defs.r
libRedRT-include.red
libRedRT.so
red-view
red-view-linux
.zenflow/
.zencoder/
.opencode/